@font-face {
    font-family: "Geometria";
    src: url("../css/fonts/FontsFree-Net-Geometria-Light.ttf");
}

html {
    height: 100%;
    width: 100%;
}

div {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

h1,
h2,
h3 {
    font-family: "Geometria";
    font-size: 16px;
    color: rgba(255, 255, 255, 0.952);
}

p {
    font-size: 12px;
    font-family: "Geometria";
    color: rgba(255, 255, 255, 0.952);
}

a {
    font-size: 14px;
    text-decoration: none;
    font-family: "Geometria";
    color: rgba(255, 255, 255, 0.952);
}

li {
    font-family: "Geometria";
}

header {

    display: flex;
    width: 100%;
    margin: auto;
    background-color: #0772d8;
}

#logo {
    width: 15%;
}

#logo img {
    width: 100%;
    height: 100%;
}

.nav_categorie {
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    min-height: 8vh;
    display: flex;
    justify-content: space-around;

}

.nav_categorie a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;

}

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;
}

.nav_categorie li {
    list-style: none;
    margin: auto;
}

#content-header-right {
    display: flex;
    justify-content: space-around;
    width: 85%;
    margin: auto 0;
    margin-top: auto;
    margin-bottom: auto;
}

#recherche {
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
    border: none #0772d8;
    padding: 6px;
    border-bottom: 2px solid rgb(255, 255, 255);
    background-color: #0772d8;

}

::placeholder {
    color: rgba(255, 255, 255, 0.952);
    font-style: italic;

}

.content-header-right-nav {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    width: 45%;
}

.content-header-right-nav a {
    text-align: center;
    margin: auto;
    padding-left: 20%;
}

#marketing-webside-content {

    width: 90%;
    display: flex;
    height: auto;
    margin: auto;
    margin-top: 5%;
    background-color: #0772d8;
    text-align: center;
}

.marketing-content-right {
    padding: 10px;
    width: 90%;
    margin-top: 5%;
    margin-bottom: -10%;
    height: auto;

}

.marketing-content-right img {
    width: 100%;
    height: 100%;
}

#slider {
    display: none;
}

#annonce-content {
    width: 90%;
    margin: auto;
    margin-top: 20%;
    display: flex;
    justify-content: space-between;
}

.annonce-text-content-mobile {
    display: none;
}

.annonce-pic-content {
    width: 50%;
    height: auto;
    display: flex;
}

#annonce-content a {
    width: 50%;
    height: 90%;
    transform: translateY(0px);
    transition-duration: 0.8s;
}

#annonce-content img {
    width: 100%;
    height: 90%;
    transform: translateY(0px);
    transition-duration: 0.8s;
}

#annonce-content a:hover {
    transform: translateY(-100px);
    transition-duration: 0.8s;
}


#annonce-content a:nth-child(2) {
    margin-left: -50px;
    margin-top: 50px;
}

#annonce-content a:nth-child(3) {
    margin-left: -50px;
    margin-top: 100px;
}

.annonce-text-content {
    width: 40%;
    text-align: center;
    height: auto;
    background-color: #0772d8
}

.annonce-text-content p{
    margin: auto;
    padding: 5%;
    width: 80%;
    border: solid white 1px;
}

.annonce-text-content p:hover{
   opacity: 0.7;
}

footer {
    margin-top: 20%;
    width: 100%;
    height: auto;
    background-color: #0772d8;
}

.footer-top-content {
    display: flex;
}

.footer-top-element {
    width: 33%;
    text-align: center;
}

.footer-top-element :nth-child(1),
.footer-top-element :nth-child(2) {
    border-right: solid black 1px;
}

.footer-top-element :nth-child(3) {
    border-right: none;
}

.footer-bottom-content {
    text-align: center;
    width: 30%;
    margin: auto;

}

.footer-bottom-content p {
    margin-bottom: 0;
}

.footer-bottom-content :nth-child(1) {
    border-bottom: solid black 1px;
}

.footer-bottom-content :nth-child(3) {
    border-bottom: none;
}

@media (min-width: 320px) and (max-width: 1024px) {
    body {
        overflow-x: hidden;
    }

    p {
        font-size: 18px;
        font-family: "Geometria";
        color: rgba(255, 255, 255, 0.952);
    }

    #marketing-webside-content {
        width: 90%;
        display: block;
        height: auto;
        margin: auto;
        margin-top: auto;
        margin-top: 5%;
        background-color:#0772d8;
        text-align: center;
        padding: 10%;
    }

    .marketing-content-right {
        padding: 10px;
        width: 95%;
        height: auto;
        margin: auto;
    }

    .marketing-content-right img {
        width: 100%;
        height: 100%;
    }

    #slider {
        display: block;
        position: relative;
        overflow: hidden;
        border-radius: 4px;
        width: 80%;
        margin: auto;
        margin-top: 10%;
    }

    #slider ul {
        position: relative;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    #slider ul li {
        position: relative;
        display: block;
        float: left;
        margin: 0;
        padding: 0;
        background: #ccc;
        text-align: center;
    }

    .slider_option {
        position: relative;
        margin: auto;
        width: 160px;
        font-size: 18px;
    }

    #slider img {
        width: 100%;
        height: 100%;
    }

    .annonce-text-content-mobile {

        width: 70%;
        text-align: center;
        height: auto;
        background-color: #0772d8;
        margin: auto;
        margin-top: 10%;
        display: block;
    }

    .annonce-text-content-mobile p{
        margin: auto;
        padding: 4%;
        font-size: 14px;
        margin-bottom: 5%;
        width: 50%;
        border: solid white 1px;
    }
    .annonce-text-content {

        display: none
    }


    .annonce-pic-content {
        display: none;
    }

    .second_title {
        margin-bottom: 0px;
        padding: 0;
        font-size: 14px;
    }

    .nav_categorie {
        position: absolute;
        right: 0;
        height: 92vh;
        top: 8vh;
        background-color: #0772d8;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;

    }

    .nav_categorie li {
        opacity: 0;
    }

    .burger {
        display: block;
        cursor: pointer;
    }

    .nav-active {
        transform: translateX(0%);
    }

}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;

}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}